.home{
    display: flex;
}

.productcontainer{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 15px;
}
.filter{
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    height: 86vh;
}
.filter > span{
    padding-bottom: 20px;
    

}
.title{
    font-size: 30px;
}
