.home{
    display: flex;
}

.productContainer{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 15px;
    margin: 10px;
}
.filter{
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;

    height: 86vh;
}
.filter > span{
    padding-bottom: 20px;
    

}
.title{
    font-size: 30px;
    color: gold;
}
.cartitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 10px;
    margin-bottom: 20px;
}

.cartItemImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.cartItemDetails{
    display: flex;
    flex: 1;
    padding: 0 40px;
    flex-direction: column;

}

.summary{
    width: 60%;

}
.cartimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 700px;
}

@media (max-width:771px){
    .filter{
        width: 40%;
        padding: 10px;
        margin: 5px;
    }
    .filter > span{
        font-size: 10px;
    }
    .title{
        font-size: 18px !important;
    }
    .productContainer{
        width: 58%;
        padding: 0;
    }
    .search{
        display: none !important;
    }
    .products{
        width: 100%;
    }
}